{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <h2>This is a F.A.Q. Page</h2>

    <h4>1. What payment methods do you accept?
        - We accept credit/debit cards, PayPal, and Apple Pay.
        <br>
        <br>
        2. What delivery options are available?
        - We offer standard, expedited, and next-day delivery within the continental US.
        <br>
        <br>
        3. Is there a warranty on the products?
        - Yes, all our products come with a manufacturer's warranty, which varies by brand and product.
        <br>
        <br>
        4. Can I track my order?
        - Yes, you will receive an order confirmation with a tracking number as soon as your order is shipped.
        <br>
        <br>
        5. Do you offer returns or exchanges?
        - Yes, we have a 30-day return policy. Products must be in their original condition and packaging.
        <br>
        <br>
        6. Are your products new or refurbished?
        - All our products are new, unless stated otherwise in the product description.
        <br>
        <br>
        7. Do you offer discounts or promotions?
        - Yes, we offer discounts and promotions throughout the year. You can sign up for our newsletter to stay updated.
        <br>
        <br>
        8. Can I see customer reviews before making a purchase?
        - Yes, we display customer reviews on our product pages to help you make an informed decision.
        <br>
        <br>
        9. Do you offer technical support?
        - We offer basic technical support for our products. For more complex issues, we recommend contacting the manufacturer's customer support.
        <br>
        <br>
        10. How can I contact your customer support?
        - You can contact us through email, phone, or live chat during our business hours. Our contact information is listed on our website.<h4>
    


{% endblock content %}