{% load static %}

<!-- Footer -->
<footer class="bg-light text-center ">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
        <div class="social-icons"> 

          <img class="socialimg" src={% static 'images/facebook.png' %}>
          <img class="socialimg" src={% static 'images/instagram.png' %}>
          <img class="socialimg" src={% static 'images/linkedin.png' %}>
          <br>
          <br>
        </div>
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email address</label>
              </div>
            </div>
            <div class="col-auto">
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-secondary mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
      <section class="mb-4">
        <p>
          Welcome to our ecommerce platform to buy the best devices!
        </p>
      </section>
    <div class="text-center p-3" style="background-color: #20c997">
      © 2023 Copyright:
    </div>
    
  
  </footer>
 