{% extends 'store/main.html' %}

{% block content %}
    <center>
    <h1>Please Log in</h1>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" placeholder="Type your name"/>
            <br/>
            <br/>
            <label>Password</label>
            <input type="password" name="password" placeholder="Type your password"/>
            <br/>
            <br/>
            <input class="btn btn-success" type="submit" value="login"/>
            <br/>
            <br/>
            <a type="button" class="btn btn-secondary" href ={% url 'user_registration' %}>Do not have an account? Register!</a>
        </form>
    </div>
    
    <center>
{% endblock %}